PORT=5000

# Paste the standard Atlas "Drivers" connection string here.
# Replace USERNAME, PASSWORD, and keep the DB name as concerthub.
MONGODB_URI=mongodb://USERNAME:PASSWORD@ac-syj1yj0-shard-00-00.a40yddz.mongodb.net:27017,ac-syj1yj0-shard-00-01.a40yddz.mongodb.net:27017,ac-syj1yj0-shard-00-02.a40yddz.mongodb.net:27017/concerthub?ssl=true&replicaSet=atlas-10h15p-shard-0&authSource=admin&retryWrites=true&w=majority&appName=ConcertHub

JWT_SECRET=change_this_to_any_random_string
CLIENT_URL=http://localhost:5173